@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c1e23;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: "Inter", sans-serif;
  outline: none;
  background: transparent;
  border: none;
  min-width: unset;
  width: auto;
}

img {
  user-select: none;
}

a {
  text-decoration: none;
}

.twitterLink {
  color:white;
  text-decoration: underline;
}